@use "../global" as g;

/*!
layout > container
------------------------------
*/
.l-container-s {
  width: min(90%, var(--width-content-s));
  margin-inline: auto;
}

.l-container {
  width: min(90%, var(--width-content));
  margin-inline: auto;
}

.l-page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.l-page-main {
  flex: 1;
}
