@use "../global" as g;

/*!
component > page-kv
------------------------------
*/
.c-page-kv {
  background-color: var(--bg-lightest-blue);
  height: 255rem;
  position: relative;
  @include g.mq() {
    height: 408rem;
  }
}

.c-page-kv-inner {
  position: absolute;
  top: 65%;
  left: 50%;
  translate: -50% -50%;

  @include g.mq() {
    top: 60%;
  }
}
